.transactionList {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: var(--gap);
  column-gap: var(--gap);
  row-gap: var(--gap);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--color-3);
  padding: var(--gap);
  background: var(--bg-1);
}
.transactionList > div {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.transactionList > label {
  margin-left: auto;
  text-align: right;
}

.repeat {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  text-decoration: none;
  border-bottom-right-radius: var(--radius);
  color: white;
  background-color: var(--color-3);
}