.accountInfo {
  display: flex;
  flex-direction: row;
  margin-top: var(--gap);
  column-gap: var(--gap);
  row-gap: var(--gap);
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--color-3);
  padding: var(--gap);
  background: var(--bg-1);
}

.accountInfo .action { 
  display: flex;  
  justify-content: flex-end; 
  align-items: center;
  column-gap: 20px; 
  width: 300px;
  margin-left: auto;
}
.accountInfo .action input  {
  font-size: 14px;
}
.accountInfo .action a:nth-child(1) input {
  background-color: var(--color-3);
  color: var(--color-2);
}